@import 'import/reset';
@import 'import/smart-grid';
@import 'import/_setting';
@import 'import/_mixins';
@import 'import/fonts';

*{
	box-sizing: border-box;
}
body{
}

a{
	text-decoration: none;
	color: inherit;
}






@import 'import/header';